@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #D3D3D3;
	font-family: 'OpenSans';
}

/*------------------------------ HEADER ------------------------------*/
#header {
	float: left;
	clear: right;
	background-color: #eee;
}

#logo {
	float: left;
}

#logo a {
	background: url(../images/logo.png) no-repeat center top;
	display: block;
	height: 85px;
	width: 100px;
}

/** Navigation **/
#navigation {
	float: left;
	display: inline-block; 
	list-style: none;
}

#navigation ul {
	display: inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 	background-color: #f1f1f1;	
}

#navigation li {
	text-align: center;
    border-bottom: 1px solid #555;
	float: left;
}

#navigation li a {
	display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
	background-color: #111;
    color: white;
}

#jummah {
	color:#000000;
	clear: both;
	float: left;
	margin-top: 25px;
	margin-left: 200px;
}

/*--------------------------Timings Tables------------------------*/
#prayertimes{
	clear: left;
	margin-left: 100px;
}

#jamaattimes{
	clear: right;
	margin-left: 25px;	
}

#prayertimes, #jamaattimes {
	float: left;
	margin-top: 25px;
	border: 2px solid black;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;	
}

#prayertimestable, #jamaattimestable{	
	text-align:center;
	font-size:1em;	
	border-collapse: collapse;	
}

#prayertimestable th, #jamaattimestable th,
#prayertimestable td, #jamaattimestable td,
#prayertimestable caption, #jamaattimestable caption {
	border: 1px solid black;
	padding: 5px;
}

/*------------------------------ News ------------------------------*/
#news {
	float: left;
	clear: both;
	margin-top: 25px;
	margin-left: 300px;
}

#newstable{
	border: 2px solid black;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;	
}

#newstable caption a{
	font-size: 2em;
}
#newstable caption :hover{
	color: #FFFFFF;
}
#title, #time {
	float: left;
	clear: left;
	padding: 0;
	margin: 0;
}

#text{
	clear: left;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	clear: left;
	float: left;
	margin-top: 50px;
	margin-left: 100px;
}

#footer p {
	color: #061296;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

/*--------------------------- News Page ------------------------------*/
#contents {
	float: left;
	clear: both;
	margin: 50px 0px 0px 200px;
}

#newsHead {
	margin-left: 300px;
	padding: 0;
}

/** main **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 800px;
	padding-right: 24px;
}

.main h1{
	margin-left:100px;
	top: 20px;
}

.main h2 {
	display: block;
	font-size: 25px;
	margin-left:100px;
	margin-top:20px;
}
.main p {
	margin-top:50px;
	text-align:center;
	margin-left:50px;
}

.news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {	
	padding: 5px 30px 5px 100px;
	position: relative;
	border-bottom: 1px solid black;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}

.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
	margin-top: 50px;
}
.date p span {
	font-size: 30px;
	margin-bottom: 10px;
	margin-right:10px;
	margin-top:10px;
	width:20px
}

#deletepost{
	margin-top: 5px;
	margin-left: 50px;
}

/*--------------------------- Get Month Page ------------------------------*/
#getMonth {
	float: left;
	clear: both;
	margin: 50px 0px 0px 200px;
}

/*--------------------------- Login Page ------------------------------*/
#login {
	float: left;
	clear: both;
	margin: 50px 0px 0px 200px;
}

/*--------------------------- new Post Page ------------------------------*/
#newpost {
	float: left;
	clear: both;
	margin: 50px 0px 0px 200px;
}

/*--------------------------- Set Jummah Page ------------------------------*/
#setjummah {
	float: left;
	clear: both;
	margin: 50px 0px 0px 200px;
}